<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (isLoggedIn) { %>
      <a href="/account" class="welcome-link" title="Go to account management">Welcome <%= account_firstname %></a>
      <a href="/account/logout" class="logout-link" title="Click to log out">Logout</a>
    <% } else { %>
      <a href="/account/login" class="account-link" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>