<h1>Welcome to CSE Motors</h1>

<div id="hero-image">
    <section id="message">
        <h2>DMC Delorean</h2>
        <p>
            3 Cup holders<br>
            Superman doors<br>
            Fuzzy dice!
        </p>
        <button> Own Today </button>
    </section>

</div>

<div id="information">
    <section id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Cooles ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and and I love it!" (5/5)</li>
        </ul>
    </section>

    <section id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div id="imagescontainer">
            <section>
                <div class="backgroundcolor">
                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor" width="65" height="65" loading="lazy">
                </div>
                <a href="/" title="Flux Capacitor">Flux Capacitor</a>
            </section>
            <section>
                <div class="backgroundcolor">
                    <img src="/images/upgrades/flame.jpg" alt="flame" width="65" height="85" loading="lazy">
                </div>
                <a href="/" title="Flame Decals">Flame Decals</a>
                
            </section>
            <section>
                <div class="backgroundcolor">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker" width="65" height="57" loading="lazy">
                </div>

                <a href="/" title="Bumper Stickers">Bumper Stickersr</a>
            </section>
            <section>
                <div class="backgroundcolor">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap" width="65" height="65" loading="lazy">
                </div>
                <a href="/" title="Hub Caps">Hub Caps</a>
            </section>
        </div>
    </section>
    
</div>
