/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-background: #fff;
  --main-accent: rgb(3, 67, 5);
}

/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* header */
#top-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.siteName {
  font-size: 2rem;
}
#top-header a {
  text-decoration: none;
  color: rgb(3, 67, 5);
}

#tools {
  display: flex;
  gap: 10px;
}

/* Welcome link styling */
#tools .welcome-link {
  color: #2f7f1b; 
  font-weight: bold;
  text-decoration: none;
}

.welcome-link:hover {
  text-decoration: underline;
}

/* Logout link styling */
.logout-link {
  font-weight: bold;
  text-decoration: none;
}

.logout-link:hover {
  text-decoration: underline;
}

/* My Account link styling */
.account-link {
  color: #007BFF; /* Blue for account link */
  font-weight: normal;
  text-decoration: none;
}

.account-link:hover {
  text-decoration: underline;
}
/* nav */
nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(1, 59, 3);
  padding: 0;
  margin: 0;
  justify-content: space-around;
  
}

nav ul li {
  list-style: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  
}

nav ul li a {
  color: white;
  text-decoration: none;
}


nav ul li :hover {
  background-color: white;
  color: rgb(3, 67, 5);
}

/* main */
main {
  padding: 30px;
}

h1 {
  color: #333;
}

#hero-image{
  background-image: url('/images/vehicles/delorean-tn.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  max-width: 80%;
  height: auto;
}

#message {
  margin-top: 30px;
  color: #54da48;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  max-width: 150px;
}


#message button {
  background-color: #54da48;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 10px;
}

#message button:hover {
  background-color: #354249;
}

/* Reviews and Upgrades Sections */
#information {
  margin-top: 15px;
}

#information section {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

#information ul {
  line-height: 2rem;
}

#imagescontainer{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  place-items: center;
  
}

#upgrades section {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.backgroundcolor {
  margin-top: 20px;
  background-color: #54da48; 
  width: 160px;
  height: 110px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: rgb(1, 59, 3);
  color: white;
}

footer a {
  color: white;
}


/* Cars */
#inv-display{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 40px;
  place-items: center;
  text-align: center;
}

#inv-display li{
  list-style: none;
  height: 300px;
  width: auto;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 0 30px #777;
  padding: 10px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

#inv-display li img {
  max-width: 100%;
  border-radius: 5%;
  border: 1px solid #ccc;
}

.namePrice {
  margin-top: auto; 
}

.namePrice a {
  font-size: 20px; 
  display: block; 
}

.namePrice hr {
  height: 5px;
  background-color: #000000; 
}

/*Detail Cars */

#informationCar img {
  max-width: 100%;
}

#error {
  font-size: 20px;
}

/*login */
.login-container {
  background-color: #d5e6d2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.login-container input[type="email"], input[type="password"], input[type="text"], select, textarea {
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: rgb(3, 67, 5);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #218838;
}

.login-container .register-link {
  text-align: center;
  margin-top: 10px;
}

.login-container .register-link a {
  color: black;
}

.login-container .register-link a:hover {
  text-decoration: underline;
}

.password-container {
  position: relative;
}

/* Password */
#passwordR {
  font-size: 12px;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  width: 100%;
  padding-right: 40px; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Errors*/
.login-container input:invalid, input:focus:invalid {
  border: 2px solid red; 
  background-color: #ffe6e6; 
}

.login-container input:valid {
  border: 2px solid green; 
  background-color: #e6ffe6; 
}
.notice {
  color: rgb(200, 8, 8);
}

/*table*/
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin: 20px 0;
}

th {
  background-color: #4CAF50; 
  color: white;             
  padding: 12px;            
  text-align: left;         
}

td {
  border: 1px solid #ddd; 
  padding: 8px;             
}

tr:hover {
  background-color: #f1f1f1; 
}

a {
  color: #007BFF;         
  text-decoration: none;    
}

a:hover {
  text-decoration: underline; 
}

.linkstyle {
  color: rgb(0, 106, 255);
}

/* Reviews */
#reviews p {
  margin: 0; 
}

#reviews li {
  margin-top: 20px; 
}

#reviews hr {
  margin: 4px; 
}

@media only screen and (min-width: 520px) {
  body {
    background-image: url('/images//site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

  #wrapper {
    width: 75vw;
    max-width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid rgb(1, 59, 3);
    background-color: #ffffff;
  }

  #hero-image{
    background-image: url('/images/vehicles/delorean.jpg');
    height: 255px;
  }
  #message h2 {
    font-size: 2rem;
  }
  
  #message p {
    font-size: 1.5rem;
  }

  nav {
    width: 98%;
    margin: auto;
  }
  nav ul li {
    padding: 10px;
    font-size: 20px;
  }
  

  #message {
    max-width: 300px;
  }

  #information {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #upgrades {
  order: 1; 
  }

  #reviews {
  order: 2; 
  }

  .backgroundcolor {
    margin-top: 20px;
    width: 180px;
    height: 110px;
  }


  /*Detail */
  #informationCar {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
  }
  /*table*/
  table {
    font-size: 16px;
  }
}