<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# messages() %>
<%- messages() %>
 <!-- Link to Add Classification view -->
 <p><a href="/inv/add-classification">Add New Classification</a></p>

 <!-- Link to Add Vehicle view -->
 <p><a href="/inv/add-vehicle">Add New Vehicle</a></p>